<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCollisionLevelTwoLabel" jhiTranslate="ceappApp.collisionLevelTwo.home.createOrEditLabel">Create or edit a Collision Level Two</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!collisionLevelTwo.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="collisionLevelTwo.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ceappApp.collisionLevelTwo.examCollision" for="field_examCollision">Exam Collision</label>
            <input type="number" class="form-control" name="examCollision" id="field_examCollision"
                [(ngModel)]="collisionLevelTwo.examCollision"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="ceappApp.collisionLevelTwo.collisionLevelOne" for="field_collisionLevelOne">Collision Level One</label>
            <select class="form-control" id="field_collisionLevelOne" name="collisionLevelOne" [(ngModel)]="collisionLevelTwo.collisionLevelOneId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="collisionLevelOneOption.id" *ngFor="let collisionLevelOneOption of collisionlevelones; trackBy: trackCollisionLevelOneById">{{collisionLevelOneOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="ceappApp.collisionLevelTwo.lva" for="field_lva">Lva</label>
            <select class="form-control" id="field_lva" name="lva" [(ngModel)]="collisionLevelTwo.lvaId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="lvaOption.id" *ngFor="let lvaOption of lvas; trackBy: trackLvaById">{{lvaOption.lvaNr}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
