<div>
    <h2>
        <span jhiTranslate="ceappApp.collisionLevelTwo.home.title">Collision Level Twos</span>
        <button class="btn btn-primary float-right create-collision-level-two" [routerLink]="['/', { outlets: { popup: ['collision-level-two-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="ceappApp.collisionLevelTwo.home.createLabel">
            Create new Collision Level Two
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'ceappApp.collisionLevelTwo.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="collisionLevelTwos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="ceappApp.collisionLevelTwo.examCollision">Exam Collision</span></th>
            <th><span jhiTranslate="ceappApp.collisionLevelTwo.instituteCollision">Institute Collision</span></th>
            <th><span jhiTranslate="ceappApp.collisionLevelTwo.curriculumCollision">Curriculum Collision</span></th>
            <th><span jhiTranslate="ceappApp.collisionLevelTwo.collisionValueAvg">Collision Value Avg</span></th>
            <th><span jhiTranslate="ceappApp.collisionLevelTwo.collisionValueMax">Collision Value Max</span></th>
            <th><span jhiTranslate="ceappApp.collisionLevelTwo.colWS">Col WS</span></th>
            <th><span jhiTranslate="ceappApp.collisionLevelTwo.colSS">Col SS</span></th>
            <th><span jhiTranslate="ceappApp.collisionLevelTwo.collisionLevelOne">Collision Level One</span></th>
            <th><span jhiTranslate="ceappApp.collisionLevelTwo.lva">Lva</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let collisionLevelTwo of collisionLevelTwos ;trackBy: trackId">
                <td><a [routerLink]="['../collision-level-two', collisionLevelTwo.id ]">{{collisionLevelTwo.id}}</a></td>
                <td>{{collisionLevelTwo.examCollision}}</td>
                <td>{{collisionLevelTwo.instituteCollision}}</td>
                <td>{{collisionLevelTwo.curriculumCollision}}</td>
                <td>{{collisionLevelTwo.collisionValueAvg}}</td>
                <td>{{collisionLevelTwo.collisionValueMax}}</td>
                <td>{{collisionLevelTwo.colWS}}</td>
                <td>{{collisionLevelTwo.colSS}}</td>
                <td>
                    <div *ngIf="collisionLevelTwo.collisionLevelOneId">
                        <a [routerLink]="['../collision-level-one', collisionLevelTwo.collisionLevelOneId  ]" >{{collisionLevelTwo.collisionLevelOneId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="collisionLevelTwo.lvaId">
                        <a [routerLink]="['../lva', collisionLevelTwo.lvaId  ]" >{{collisionLevelTwo.lvaLvaNr}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../collision-level-two', collisionLevelTwo.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'collision-level-two/'+ collisionLevelTwo.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'collision-level-two/'+ collisionLevelTwo.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
