
<div *ngIf="curriculum">
    <h2><span jhiTranslate="ceappApp.curriculum.detail.title">Curriculum</span> {{curriculum.curName}}</h2>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <div class="row">
        <div class="col-md-5">
        <dt><span jhiTranslate="ceappApp.curriculum.curId">Cur Id</span></dt>
        <dd>
            <span>{{curriculum.curId}}</span>
        </dd>
        <dt><span jhiTranslate="ceappApp.curriculum.curName">Cur Name</span></dt>
        <dd>
            <span>{{curriculum.curName}}</span>
        </dd>
        </div>
        <div class="col-md-7">
        <dt><span jhiTranslate="ceappApp.curriculum.institute">Institute</span></dt>
        <dd>
            <span *ngFor="let institute of curriculum.institutes; let last = last">
                <a [routerLink]="['/institute', institute?.id ]">{{institute.instituteName}}</a>{{last ? '' : ', '}}<br>
            </span>
        </dd>
        </div>
        </div>
        <button type="submit"
                (click)="previousState()"
                class="btn btn-info">
            <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>
        <button type="button"
                [routerLink]="['/', { outlets: { popup: 'curriculum/'+ curriculum.id + '/edit'} }]"
                replaceUrl="true"
                class="btn btn-primary">
            <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
        </button>
        <hr>
        <h3>
            <span jhiTranslate="ceappApp.curriculumSemester.home.title">Curriculum Semesters</span>
            <button class="btn btn-primary float-right create-curriculum-semester" [routerLink]="['/', { outlets: { popup: ['curriculum-semester-new'] } }]">
                <span class="fa fa-plus"></span>
                <span class="hidden-sm-down"  jhiTranslate="ceappApp.curriculumSemester.home.createLabel">
            Create new Curriculum Semester
            </span>
            </button>
        </h3>
        <p-dataTable [value]="curriculum.curriculumSemesters">
            <p-column field="id" header="ID"></p-column>
            <p-column field="year" header="Jahr"></p-column>
            <p-column field="semester" header="Semester"></p-column>
            <p-column field="id" header="" styleClass="text-right">
                <ng-template let-cso="rowData" pTemplate type="body">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/curriculum-semester', cso.id ]"
                                class="btn btn-success btn-sm">
                            <span class="fa fa-refresh"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.update">Update</span>
                        </button>
                        <span *ngFor="let ip of curriculum.idealPlans">
                        <button *ngIf="ip.year <= cso.year && ip.year > (cso.year - 3)" type="submit"
                                [routerLink]="['/collision-level-one/specific', cso.id, ip.id]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down">{{ip.year}}</span>
                        </button>
                        </span>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'curriculum-semester/'+ cso.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                    </div>
                </ng-template>
            </p-column>
        </p-dataTable>
        <hr>
        <h3>
            <span jhiTranslate="ceappApp.idealPlan.home.title">Ideal Plans</span>
            <button class="btn btn-primary float-right create-ideal-plan" [routerLink]="['/', { outlets: { popup: ['ideal-plan-new'] } }]">
                <span class="fa fa-plus"></span>
                <span class="hidden-sm-down"  jhiTranslate="ceappApp.idealPlan.home.createLabel">
            Create new Ideal Plan
            </span>
            </button>
        </h3>
        <h3></h3>
        <p-dataTable [value]="curriculum.idealPlans">
            <p-column field="id" header="ID"></p-column>
            <p-column field="year" header="Jahr"></p-column>
            <p-column field="semester" header="Semester"></p-column>
            <p-column field="active" header="Aktiv"></p-column>
            <p-column field="id" header="" styleClass="text-right">
                <ng-template let-cso="rowData" pTemplate type="body">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/ideal-plan', cso.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ideal-plan/'+ cso.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                    </div>
                </ng-template>
            </p-column>
        </p-dataTable>
    </dl>


</div>
