
<div *ngIf="curriculum">
    <h2><span jhiTranslate="ceappApp.curriculum.detail.title">Curriculum</span> {{curriculum.curName}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ceappApp.curriculum.curId">Cur Id</span></dt>
        <dd>
            <span>{{curriculum.curId}}</span>
        </dd>
        <dt><span jhiTranslate="ceappApp.curriculum.curName">Cur Name</span></dt>
        <dd>
            <span>{{curriculum.curName}}</span>
        </dd>
        <dt><span jhiTranslate="ceappApp.curriculum.institute">Institute</span></dt>
        <dd>
            <span *ngFor="let institute of curriculum.institutes; let last = last">
                <a [routerLink]="['/institute', institute?.id ]">{{institute.instituteName}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <hr>
        <h3>
            <span jhiTranslate="ceappApp.curriculumSemester.home.title">Curriculum Semesters</span>
            <button class="btn btn-primary float-right create-curriculum-semester" [routerLink]="['/', { outlets: { popup: ['curriculum-semester-new'] } }]">
                <span class="fa fa-plus"></span>
                <span class="hidden-sm-down"  jhiTranslate="ceappApp.curriculumSemester.home.createLabel">
            Create new Curriculum Semester
            </span>
            </button>
        </h3>
        <hr>
        <p-dataTable [value]="curriculum.curriculumSemesters">
            <p-column field="id" header="ID"></p-column>
            <p-column field="year" header="Jahr"></p-column>
            <p-column field="semester" header="Semester"></p-column>
        </p-dataTable>
        <hr>
        <h3>Idealtypische Studienverläufe</h3>
        <p-dataTable [value]="curriculum.idealPlans">
            <p-column field="id" header="ID"></p-column>
            <p-column field="year" header="Jahr"></p-column>
            <p-column field="semester" header="Semester"></p-column>
            <p-column field="active" header="Aktiv"></p-column>
        </p-dataTable>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'curriculum/'+ curriculum.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
