<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCollisionLevelThreeLabel" jhiTranslate="ceappApp.collisionLevelThree.home.createOrEditLabel">Create or edit a Collision Level Three</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!collisionLevelThree.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="collisionLevelThree.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ceappApp.collisionLevelThree.examCollision" for="field_examCollision">Exam Collision</label>
            <input type="number" class="form-control" name="examCollision" id="field_examCollision"
                [(ngModel)]="collisionLevelThree.examCollision"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ceappApp.collisionLevelThree.instituteCollision" for="field_instituteCollision">Institute Collision</label>
            <input type="number" class="form-control" name="instituteCollision" id="field_instituteCollision"
                [(ngModel)]="collisionLevelThree.instituteCollision"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ceappApp.collisionLevelThree.curriculumCollision" for="field_curriculumCollision">Curriculum Collision</label>
            <input type="number" class="form-control" name="curriculumCollision" id="field_curriculumCollision"
                [(ngModel)]="collisionLevelThree.curriculumCollision"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ceappApp.collisionLevelThree.collisionValueAvg" for="field_collisionValueAvg">Collision Value Avg</label>
            <input type="number" class="form-control" name="collisionValueAvg" id="field_collisionValueAvg"
                [(ngModel)]="collisionLevelThree.collisionValueAvg"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ceappApp.collisionLevelThree.collisionValueMax" for="field_collisionValueMax">Collision Value Max</label>
            <input type="number" class="form-control" name="collisionValueMax" id="field_collisionValueMax"
                [(ngModel)]="collisionLevelThree.collisionValueMax"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ceappApp.collisionLevelThree.colWS" for="field_colWS">Col WS</label>
            <input type="checkbox" class="form-control" name="colWS" id="field_colWS"
                [(ngModel)]="collisionLevelThree.colWS"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ceappApp.collisionLevelThree.colSS" for="field_colSS">Col SS</label>
            <input type="checkbox" class="form-control" name="colSS" id="field_colSS"
                [(ngModel)]="collisionLevelThree.colSS"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ceappApp.collisionLevelThree.countCollisionLvas" for="field_countCollisionLvas">Count Collision Lvas</label>
            <input type="number" class="form-control" name="countCollisionLvas" id="field_countCollisionLvas"
                [(ngModel)]="collisionLevelThree.countCollisionLvas"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="ceappApp.collisionLevelThree.collisionLevelTwo" for="field_collisionLevelTwo">Collision Level Two</label>
            <select class="form-control" id="field_collisionLevelTwo" name="collisionLevelTwo" [(ngModel)]="collisionLevelThree.collisionLevelTwoId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="collisionLevelTwoOption.id" *ngFor="let collisionLevelTwoOption of collisionleveltwos; trackBy: trackCollisionLevelTwoById">{{collisionLevelTwoOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="ceappApp.collisionLevelThree.curriculumSubject" for="field_curriculumSubject">Curriculum Subject</label>
            <select class="form-control" id="field_curriculumSubject" name="curriculumSubject" [(ngModel)]="collisionLevelThree.curriculumSubjectId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="curriculumSubjectOption.id" *ngFor="let curriculumSubjectOption of curriculumsubjects; trackBy: trackCurriculumSubjectById">{{curriculumSubjectOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
