
<div *ngIf="collisionLevelThree">
    <h2><span jhiTranslate="ceappApp.collisionLevelThree.detail.title">Collision Level Three</span> {{collisionLevelThree.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ceappApp.collisionLevelThree.examCollision">Exam Collision</span></dt>
        <dd>
            <span>{{collisionLevelThree.examCollision}}</span>
        </dd>
        <dt><span jhiTranslate="ceappApp.collisionLevelThree.instituteCollision">Institute Collision</span></dt>
        <dd>
            <span>{{collisionLevelThree.instituteCollision}}</span>
        </dd>
        <dt><span jhiTranslate="ceappApp.collisionLevelThree.curriculumCollision">Curriculum Collision</span></dt>
        <dd>
            <span>{{collisionLevelThree.curriculumCollision}}</span>
        </dd>
        <dt><span jhiTranslate="ceappApp.collisionLevelThree.collisionValueAvg">Collision Value Avg</span></dt>
        <dd>
            <span>{{collisionLevelThree.collisionValueAvg}}</span>
        </dd>
        <dt><span jhiTranslate="ceappApp.collisionLevelThree.collisionValueMax">Collision Value Max</span></dt>
        <dd>
            <span>{{collisionLevelThree.collisionValueMax}}</span>
        </dd>
        <dt><span jhiTranslate="ceappApp.collisionLevelThree.colWS">Col WS</span></dt>
        <dd>
            <span>{{collisionLevelThree.colWS}}</span>
        </dd>
        <dt><span jhiTranslate="ceappApp.collisionLevelThree.colSS">Col SS</span></dt>
        <dd>
            <span>{{collisionLevelThree.colSS}}</span>
        </dd>
        <dt><span jhiTranslate="ceappApp.collisionLevelThree.countCollisionLvas">Count Collision Lvas</span></dt>
        <dd>
            <span>{{collisionLevelThree.countCollisionLvas}}</span>
        </dd>
        <dt><span jhiTranslate="ceappApp.collisionLevelThree.collisionLevelTwo">Collision Level Two</span></dt>
        <dd>
            <div *ngIf="collisionLevelThree.collisionLevelTwoId">
                <a [routerLink]="['/collision-level-two', collisionLevelThree.collisionLevelTwoId]">{{collisionLevelThree.collisionLevelTwoId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="ceappApp.collisionLevelThree.curriculumSubject">Curriculum Subject</span></dt>
        <dd>
            <div *ngIf="collisionLevelThree.curriculumSubjectId">
                <a [routerLink]="['/curriculum-subject', collisionLevelThree.curriculumSubjectId]">{{collisionLevelThree.curriculumSubjectId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'collision-level-three/'+ collisionLevelThree.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
