<div>
    <h2>
        <span jhiTranslate="ceappApp.collisionLevelFive.home.title">Collision Level Fives</span>
        <button class="btn btn-primary float-right create-collision-level-five" [routerLink]="['/', { outlets: { popup: ['collision-level-five-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="ceappApp.collisionLevelFive.home.createLabel">
            Create new Collision Level Five
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'ceappApp.collisionLevelFive.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="collisionLevelFives">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="ceappApp.collisionLevelFive.examCollision">Exam Collision</span></th>
            <th><span jhiTranslate="ceappApp.collisionLevelFive.collisionValue">Collision Value</span></th>
            <th><span jhiTranslate="ceappApp.collisionLevelFive.collisionLevelFour">Collision Level Four</span></th>
            <th><span jhiTranslate="ceappApp.collisionLevelFive.sourceAppointment">Source Appointment</span></th>
            <th><span jhiTranslate="ceappApp.collisionLevelFive.targetAppointment">Target Appointment</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let collisionLevelFive of collisionLevelFives ;trackBy: trackId">
                <td><a [routerLink]="['../collision-level-five', collisionLevelFive.id ]">{{collisionLevelFive.id}}</a></td>
                <td>{{collisionLevelFive.examCollision}}</td>
                <td>{{collisionLevelFive.collisionValue}}</td>
                <td>
                    <div *ngIf="collisionLevelFive.collisionLevelFourId">
                        <a [routerLink]="['../collision-level-four', collisionLevelFive.collisionLevelFourId  ]" >{{collisionLevelFive.collisionLevelFourId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="collisionLevelFive.sourceAppointmentId">
                        <a [routerLink]="['../appointment', collisionLevelFive.sourceAppointmentId  ]" >{{collisionLevelFive.sourceAppointmentId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="collisionLevelFive.targetAppointmentId">
                        <a [routerLink]="['../appointment', collisionLevelFive.targetAppointmentId  ]" >{{collisionLevelFive.targetAppointmentId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../collision-level-five', collisionLevelFive.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'collision-level-five/'+ collisionLevelFive.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'collision-level-five/'+ collisionLevelFive.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
