
<div *ngIf="curriculumSubject">
    <h2><span jhiTranslate="ceappApp.curriculumSubject.detail.title">Curriculum Subject</span> {{curriculumSubject.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ceappApp.curriculumSubject.countLvas">Count Lvas</span></dt>
        <dd>
            <span>{{curriculumSubject.countLvas}}</span>
        </dd>
        <dt><span jhiTranslate="ceappApp.curriculumSubject.lva">Lva</span></dt>
        <dd>
            <span *ngFor="let lva of curriculumSubject.lvas; let last = last">
                <a [routerLink]="['/lva', lva?.id ]">{{lva.lvaNr}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="ceappApp.curriculumSubject.subject">Subject</span></dt>
        <dd>
            <div *ngIf="curriculumSubject.subjectId">
                <a [routerLink]="['/subject', curriculumSubject.subjectId]">{{curriculumSubject.subjectSubjectName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="ceappApp.curriculumSubject.curriculumSemester">Curriculum Semester</span></dt>
        <dd>
            <div *ngIf="curriculumSubject.curriculumSemesterId">
                <a [routerLink]="['/curriculum-semester', curriculumSubject.curriculumSemesterId]">{{curriculumSubject.curriculumSemesterId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'curriculum-subject/'+ curriculumSubject.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
