<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCollisionLevelFourLabel" jhiTranslate="ceappApp.collisionLevelFour.home.createOrEditLabel">Create or edit a Collision Level Four</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!collisionLevelFour.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="collisionLevelFour.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ceappApp.collisionLevelFour.examCollision" for="field_examCollision">Exam Collision</label>
            <input type="number" class="form-control" name="examCollision" id="field_examCollision"
                [(ngModel)]="collisionLevelFour.examCollision"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="ceappApp.collisionLevelFour.collisionLevelThree" for="field_collisionLevelThree">Collision Level Three</label>
            <select class="form-control" id="field_collisionLevelThree" name="collisionLevelThree" [(ngModel)]="collisionLevelFour.collisionLevelThreeId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="collisionLevelThreeOption.id" *ngFor="let collisionLevelThreeOption of collisionlevelthrees; trackBy: trackCollisionLevelThreeById">{{collisionLevelThreeOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="ceappApp.collisionLevelFour.sourceAppointment" for="field_sourceAppointment">Source Appointment</label>
            <select class="form-control" id="field_sourceAppointment" multiple name="sourceAppointment" [(ngModel)]="collisionLevelFour.sourceAppointments">
                <option [ngValue]="getSelected(collisionLevelFour.sourceAppointments, appointmentOption)" *ngFor="let appointmentOption of appointments; trackBy: trackAppointmentById">{{appointmentOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="ceappApp.collisionLevelFour.targetAppointment" for="field_targetAppointment">Target Appointment</label>
            <select class="form-control" id="field_targetAppointment" multiple name="targetAppointment" [(ngModel)]="collisionLevelFour.targetAppointments">
                <option [ngValue]="getSelected(collisionLevelFour.targetAppointments, appointmentOption)" *ngFor="let appointmentOption of appointments; trackBy: trackAppointmentById">{{appointmentOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
