
<div *ngIf="collisionLevelFour">
    <h2><span jhiTranslate="ceappApp.collisionLevelFour.detail.title">Collision Level Four</span> {{collisionLevelFour.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ceappApp.collisionLevelFour.examCollision">Exam Collision</span></dt>
        <dd>
            <span>{{collisionLevelFour.examCollision}}</span>
        </dd>
        <dt><span jhiTranslate="ceappApp.collisionLevelFour.collisionLevelThree">Collision Level Three</span></dt>
        <dd>
            <div *ngIf="collisionLevelFour.collisionLevelThreeId">
                <a [routerLink]="['/collision-level-three', collisionLevelFour.collisionLevelThreeId]">{{collisionLevelFour.collisionLevelThreeId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="ceappApp.collisionLevelFour.sourceAppointment">Source Appointment</span></dt>
        <dd>
            <span *ngFor="let sourceAppointment of collisionLevelFour.sourceAppointments; let last = last">
                <a [routerLink]="['/appointment', sourceAppointment?.id ]">{{sourceAppointment.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="ceappApp.collisionLevelFour.targetAppointment">Target Appointment</span></dt>
        <dd>
            <span *ngFor="let targetAppointment of collisionLevelFour.targetAppointments; let last = last">
                <a [routerLink]="['/appointment', targetAppointment?.id ]">{{targetAppointment.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'collision-level-four/'+ collisionLevelFour.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
