<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCollisionLevelFourLabel" jhiTranslate="ceappApp.collisionLevelFour.home.createOrEditLabel">Create or edit a Collision Level Four</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!collisionLevelFour.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="collisionLevelFour.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ceappApp.collisionLevelFour.examCollision" for="field_examCollision">Exam Collision</label>
            <input type="number" class="form-control" name="examCollision" id="field_examCollision"
                [(ngModel)]="collisionLevelFour.examCollision"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ceappApp.collisionLevelFour.instituteCollision" for="field_instituteCollision">Institute Collision</label>
            <input type="number" class="form-control" name="instituteCollision" id="field_instituteCollision"
                [(ngModel)]="collisionLevelFour.instituteCollision"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ceappApp.collisionLevelFour.curriculumCollision" for="field_curriculumCollision">Curriculum Collision</label>
            <input type="number" class="form-control" name="curriculumCollision" id="field_curriculumCollision"
                [(ngModel)]="collisionLevelFour.curriculumCollision"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ceappApp.collisionLevelFour.collisionType" for="field_collisionType">Collision Type</label>
            <select class="form-control" name="collisionType" [(ngModel)]="collisionLevelFour.collisionType" id="field_collisionType" >
                <option value="INST_INST" jhiTranslate="ceappApp.CollisionType.INST_INST">INST_INST</option>
                <option value="WIN_WIN" jhiTranslate="ceappApp.CollisionType.WIN_WIN">WIN_WIN</option>
                <option value="WIN_EZK" jhiTranslate="ceappApp.CollisionType.WIN_EZK">WIN_EZK</option>
                <option value="EZK_EZK" jhiTranslate="ceappApp.CollisionType.EZK_EZK">EZK_EZK</option>
                <option value="WIN_ZK" jhiTranslate="ceappApp.CollisionType.WIN_ZK">WIN_ZK</option>
                <option value="EZK_ZK" jhiTranslate="ceappApp.CollisionType.EZK_ZK">EZK_ZK</option>
                <option value="ZK_ZK" jhiTranslate="ceappApp.CollisionType.ZK_ZK">ZK_ZK</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ceappApp.collisionLevelFour.collisionValue" for="field_collisionValue">Collision Value</label>
            <input type="number" class="form-control" name="collisionValue" id="field_collisionValue"
                [(ngModel)]="collisionLevelFour.collisionValue"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="ceappApp.collisionLevelFour.collisionLevelThree" for="field_collisionLevelThree">Collision Level Three</label>
            <select class="form-control" id="field_collisionLevelThree" name="collisionLevelThree" [(ngModel)]="collisionLevelFour.collisionLevelThreeId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="collisionLevelThreeOption.id" *ngFor="let collisionLevelThreeOption of collisionlevelthrees; trackBy: trackCollisionLevelThreeById">{{collisionLevelThreeOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="ceappApp.collisionLevelFour.lva" for="field_lva">Lva</label>
            <select class="form-control" id="field_lva" name="lva" [(ngModel)]="collisionLevelFour.lvaId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="lvaOption.id" *ngFor="let lvaOption of lvas; trackBy: trackLvaById">{{lvaOption.lvaNr}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
