
<div *ngIf="collisionLevelFour">
    <h2><span jhiTranslate="ceappApp.collisionLevelFour.detail.title">Collision Level Four</span> {{collisionLevelFour.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ceappApp.collisionLevelFour.examCollision">Exam Collision</span></dt>
        <dd>
            <span>{{collisionLevelFour.examCollision}}</span>
        </dd>
        <dt><span jhiTranslate="ceappApp.collisionLevelFour.instituteCollision">Institute Collision</span></dt>
        <dd>
            <span>{{collisionLevelFour.instituteCollision}}</span>
        </dd>
        <dt><span jhiTranslate="ceappApp.collisionLevelFour.curriculumCollision">Curriculum Collision</span></dt>
        <dd>
            <span>{{collisionLevelFour.curriculumCollision}}</span>
        </dd>
        <dt><span jhiTranslate="ceappApp.collisionLevelFour.collisionType">Collision Type</span></dt>
        <dd>
            <span jhiTranslate="{{'ceappApp.CollisionType.' + collisionLevelFour.collisionType}}">{{collisionLevelFour.collisionType}}</span>
        </dd>
        <dt><span jhiTranslate="ceappApp.collisionLevelFour.collisionValue">Collision Value</span></dt>
        <dd>
            <span>{{collisionLevelFour.collisionValue}}</span>
        </dd>
        <dt><span jhiTranslate="ceappApp.collisionLevelFour.collisionLevelThree">Collision Level Three</span></dt>
        <dd>
            <div *ngIf="collisionLevelFour.collisionLevelThreeId">
                <a [routerLink]="['/collision-level-three', collisionLevelFour.collisionLevelThreeId]">{{collisionLevelFour.collisionLevelThreeId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="ceappApp.collisionLevelFour.lva">Lva</span></dt>
        <dd>
            <div *ngIf="collisionLevelFour.lvaId">
                <a [routerLink]="['/lva', collisionLevelFour.lvaId]">{{collisionLevelFour.lvaLvaNr}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'collision-level-four/'+ collisionLevelFour.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
