<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCollisionLevelOneLabel" jhiTranslate="ceappApp.collisionLevelOne.home.createOrEditLabel">Create or edit a Collision Level One</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!collisionLevelOne.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="collisionLevelOne.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ceappApp.collisionLevelOne.examCollision" for="field_examCollision">Exam Collision</label>
            <input type="number" class="form-control" name="examCollision" id="field_examCollision"
                [(ngModel)]="collisionLevelOne.examCollision"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ceappApp.collisionLevelOne.instituteCollision" for="field_instituteCollision">Institute Collision</label>
            <input type="number" class="form-control" name="instituteCollision" id="field_instituteCollision"
                [(ngModel)]="collisionLevelOne.instituteCollision"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ceappApp.collisionLevelOne.curriculumCollision" for="field_curriculumCollision">Curriculum Collision</label>
            <input type="number" class="form-control" name="curriculumCollision" id="field_curriculumCollision"
                [(ngModel)]="collisionLevelOne.curriculumCollision"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ceappApp.collisionLevelOne.collisionValueAvg" for="field_collisionValueAvg">Collision Value Avg</label>
            <input type="number" class="form-control" name="collisionValueAvg" id="field_collisionValueAvg"
                [(ngModel)]="collisionLevelOne.collisionValueAvg"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ceappApp.collisionLevelOne.collisionValueMax" for="field_collisionValueMax">Collision Value Max</label>
            <input type="number" class="form-control" name="collisionValueMax" id="field_collisionValueMax"
                [(ngModel)]="collisionLevelOne.collisionValueMax"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ceappApp.collisionLevelOne.colWS" for="field_colWS">Col WS</label>
            <input type="checkbox" class="form-control" name="colWS" id="field_colWS"
                [(ngModel)]="collisionLevelOne.colWS"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ceappApp.collisionLevelOne.colSS" for="field_colSS">Col SS</label>
            <input type="checkbox" class="form-control" name="colSS" id="field_colSS"
                [(ngModel)]="collisionLevelOne.colSS"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ceappApp.collisionLevelOne.countCollisionLvas" for="field_countCollisionLvas">Count Collision Lvas</label>
            <input type="number" class="form-control" name="countCollisionLvas" id="field_countCollisionLvas"
                [(ngModel)]="collisionLevelOne.countCollisionLvas"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="ceappApp.collisionLevelOne.curriculumSubject" for="field_curriculumSubject">Curriculum Subject</label>
            <select class="form-control" id="field_curriculumSubject" name="curriculumSubject" [(ngModel)]="collisionLevelOne.curriculumSubjectId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="curriculumSubjectOption.id" *ngFor="let curriculumSubjectOption of curriculumsubjects; trackBy: trackCurriculumSubjectById">{{curriculumSubjectOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="ceappApp.collisionLevelOne.idealPlan" for="field_idealPlan">Ideal Plan</label>
            <select class="form-control" id="field_idealPlan" name="idealPlan" [(ngModel)]="collisionLevelOne.idealPlanId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="idealPlanOption.id" *ngFor="let idealPlanOption of idealplans; trackBy: trackIdealPlanById">{{idealPlanOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="ceappApp.collisionLevelOne.institute" for="field_institute">Institute</label>
            <select class="form-control" id="field_institute" name="institute" [(ngModel)]="collisionLevelOne.instituteId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="instituteOption.id" *ngFor="let instituteOption of institutes; trackBy: trackInstituteById">{{instituteOption.instituteName}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
