
<div *ngIf="collisionLevelOne">
    <h2><span jhiTranslate="ceappApp.collisionLevelOne.detail.title">Collision Level One</span> {{collisionLevelOne.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ceappApp.collisionLevelOne.examCollision">Exam Collision</span></dt>
        <dd>
            <span>{{collisionLevelOne.examCollision}}</span>
        </dd>
        <dt><span jhiTranslate="ceappApp.collisionLevelOne.instituteCollision">Institute Collision</span></dt>
        <dd>
            <span>{{collisionLevelOne.instituteCollision}}</span>
        </dd>
        <dt><span jhiTranslate="ceappApp.collisionLevelOne.curriculumCollision">Curriculum Collision</span></dt>
        <dd>
            <span>{{collisionLevelOne.curriculumCollision}}</span>
        </dd>
        <dt><span jhiTranslate="ceappApp.collisionLevelOne.collisionValueAvg">Collision Value Avg</span></dt>
        <dd>
            <span>{{collisionLevelOne.collisionValueAvg}}</span>
        </dd>
        <dt><span jhiTranslate="ceappApp.collisionLevelOne.collisionValueMax">Collision Value Max</span></dt>
        <dd>
            <span>{{collisionLevelOne.collisionValueMax}}</span>
        </dd>
        <dt><span jhiTranslate="ceappApp.collisionLevelOne.colWS">Col WS</span></dt>
        <dd>
            <span>{{collisionLevelOne.colWS}}</span>
        </dd>
        <dt><span jhiTranslate="ceappApp.collisionLevelOne.colSS">Col SS</span></dt>
        <dd>
            <span>{{collisionLevelOne.colSS}}</span>
        </dd>
        <dt><span jhiTranslate="ceappApp.collisionLevelOne.curriculumSubject">Curriculum Subject</span></dt>
        <dd>
            <div *ngIf="collisionLevelOne.curriculumSubjectId">
                <a [routerLink]="['/curriculum-subject', collisionLevelOne.curriculumSubjectId]">{{collisionLevelOne.curriculumSubjectId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="ceappApp.collisionLevelOne.idealPlan">Ideal Plan</span></dt>
        <dd>
            <div *ngIf="collisionLevelOne.idealPlanId">
                <a [routerLink]="['/ideal-plan', collisionLevelOne.idealPlanId]">{{collisionLevelOne.idealPlanId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'collision-level-one/'+ collisionLevelOne.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
