<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" placeholder="Global Filter">
</div>
<p-dataTable [value]="collisionLevelOnes" sortMode="multiple" expandableRows="true" rowExpandMode="single" selectionMode="none" (onRowExpand)="onRowExpand($event)" dataKey="id" [globalFilter]="gb">
    <p-column expander="true" styleClass="col-icon" [style]="{'width':'49px'}"></p-column>
    <p-column field="curriculumSubject.subjectSubjectName" header="Subject" [sortable]="true" [filter]="true"></p-column>
    <p-column field="curriculumSubject.subjectSubjectType" [style]="{'width':'49px'}" header="Typ" [sortable]="true"></p-column>
    <p-column field="curriculumSubject.countLvas" [style]="{'width':'49px'}" header="LVAs" [sortable]="true"></p-column>
    <p-column field="instituteInstituteName" header="Institut" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
    <p-column field="examCollision" header="Exam" [sortable]="true" [style]="{'width':'100px'}" styleClass="text-right"></p-column>
    <p-column field="instituteCollision" header="Inst" [sortable]="true" [style]="{'width':'100px'}" styleClass="text-right"></p-column>
    <p-column field="curriculumCollision" header="Curr" [sortable]="true" [style]="{'width':'100px'}" styleClass="text-right"></p-column>
    <p-column field="colWS" header="WS" [sortable]="true" [style]="{'width':'100px'}" styleClass="text-right"></p-column>
    <p-column field="colSS" header="SS" [sortable]="true" [style]="{'width':'100px'}" styleClass="text-right"></p-column>
    <p-column field="collisionValueAvg" header="Avg" [sortable]="true" [sortable]="true" [style]="{'width':'100px'}" styleClass="text-right">
        <ng-template let-cso="rowData" pTemplate type="body">
            {{cso.collisionValueAvg | number : '1.2-2'}}
        </ng-template>
    </p-column>
    <p-column field="collisionValueMax" header="Max" [sortable]="true" [sortable]="true" [style]="{'width':'100px'}" styleClass="text-right">
        <ng-template let-cso="rowData" pTemplate type="body">
            {{cso.collisionValueMax | number : '1.2-2'}}
        </ng-template>
    </p-column>
    <ng-template pTemplate="rowexpansion">
        <div style="background-color: lightblue; padding-top: 10px; padding-bottom: 10px; padding-left: 2px; padding-right: 2px; margin: -12px;">
        <p-dataTable [value]="levelTwo" sortMode="multiple" expandableRows="true" rowExpandMode="single" selectionMode="none" (onRowExpand)="onRowExpand2($event)" dataKey="id">
            <p-column expander="true" styleClass="col-icon" [style]="{'width':'49px'}"></p-column>
            <p-column field="lva.lvaNr" header="LVA-Nr" [sortable]="true" [filter]="true"></p-column>
            <p-column field="examCollision" header="Exam" [sortable]="true" [style]="{'width':'100px'}" styleClass="text-right"></p-column>
            <p-column field="instituteCollision" header="Inst" [sortable]="true" [style]="{'width':'100px'}" styleClass="text-right"></p-column>
            <p-column field="curriculumCollision" header="Curr" [sortable]="true" [style]="{'width':'100px'}" styleClass="text-right"></p-column>
            <p-column field="colWS" header="WS" [sortable]="true" [style]="{'width':'100px'}" styleClass="text-right"></p-column>
            <p-column field="colSS" header="SS" [sortable]="true" [style]="{'width':'100px'}" styleClass="text-right"></p-column>
            <p-column field="collisionValueAvg" header="Avg" [sortable]="true" [sortable]="true" [style]="{'width':'100px'}" styleClass="text-right">
                <ng-template let-cso="rowData" pTemplate type="body">
                    {{cso.collisionValueAvg | number : '1.2-2'}}
                </ng-template>
            </p-column>
            <p-column field="collisionValueMax" header="Max" [sortable]="true" [sortable]="true" [style]="{'width':'100px'}" styleClass="text-right">
                <ng-template let-cso="rowData" pTemplate type="body">
                    {{cso.collisionValueMax | number : '1.2-2'}}
                </ng-template>
            </p-column>
            <ng-template pTemplate="rowexpansion">
                <div style="background-color: lightgoldenrodyellow; padding-top: 10px; padding-bottom: 10px; padding-left: 2px; padding-right: 2px; margin: -12px;">
                <p-dataTable [value]="levelThree" sortMode="multiple" expandableRows="true" rowExpandMode="single" selectionMode="none" (onRowExpand)="onRowExpand3($event)" dataKey="id">
                    <p-column expander="true" styleClass="col-icon" [style]="{'width':'49px'}"></p-column>
                    <p-column field="curriculumSubject.subjectSubjectName" header="Subject" [sortable]="true" [filter]="true"></p-column>
                    <p-column field="curriculumSubject.subjectSubjectType" [style]="{'width':'49px'}" header="Typ" [sortable]="true"></p-column>
                    <p-column field="curriculumSubject.countLvas" [style]="{'width':'49px'}" header="LVAs" [sortable]="true"></p-column>
                    <p-column field="examCollision" header="Exam" [sortable]="true" [style]="{'width':'100px'}" styleClass="text-right"></p-column>
                    <p-column field="instituteCollision" header="Inst" [sortable]="true" [style]="{'width':'100px'}" styleClass="text-right"></p-column>
                    <p-column field="curriculumCollision" header="Curr" [sortable]="true" [style]="{'width':'100px'}" styleClass="text-right"></p-column>
                    <p-column field="colWS" header="WS" [sortable]="true" [style]="{'width':'100px'}" styleClass="text-right"></p-column>
                    <p-column field="colSS" header="SS" [sortable]="true" [style]="{'width':'100px'}" styleClass="text-right"></p-column>
                    <p-column field="collisionValueAvg" header="Avg" [sortable]="true" [sortable]="true" [style]="{'width':'100px'}" styleClass="text-right">
                        <ng-template let-cso="rowData" pTemplate type="body">
                            {{cso.collisionValueAvg | number : '1.2-2'}}
                        </ng-template>
                    </p-column>
                    <p-column field="collisionValueMax" header="Max" [sortable]="true" [sortable]="true" [style]="{'width':'100px'}" styleClass="text-right">
                        <ng-template let-cso="rowData" pTemplate type="body">
                            {{cso.collisionValueMax | number : '1.2-2'}}
                        </ng-template>
                    </p-column>
                    <ng-template pTemplate="rowexpansion">
                        <div style="background-color: lightsalmon; padding-top: 10px; padding-bottom: 10px; padding-left: 2px; padding-right: 2px; margin: -12px;">
                        <p-dataTable [value]="levelFour" sortMode="multiple" expandableRows="true" rowExpandMode="single" selectionMode="none" (onRowExpand)="onRowExpand4($event)" dataKey="id">
                            <p-column expander="true" styleClass="col-icon" [style]="{'width':'49px'}"></p-column>
                            <p-column field="lva.lvaNr" header="LVA-Nr" [sortable]="true" [filter]="true"></p-column>
                            <p-column field="examCollision" header="Exam" [sortable]="true" [style]="{'width':'100px'}" styleClass="text-right"></p-column>
                            <p-column field="instituteCollision" header="Inst" [sortable]="true" [style]="{'width':'100px'}" styleClass="text-right"></p-column>
                            <p-column field="curriculumCollision" header="Curr" [sortable]="true" [style]="{'width':'100px'}" styleClass="text-right"></p-column>
                                <ng-template let-cso="rowData" pTemplate type="body">
                                    {{cso.collisionValueAvg | number : '1.2-2'}}
                                </ng-template>
                            </p-column>
                            <p-column field="collisionValue" header="ColValue" [sortable]="true" [style]="{'width':'100px'}" styleClass="text-right">
                            <ng-template let-cso="rowData" pTemplate type="body">
                                {{cso.collisionValue | number : '1.2-2'}}
                            </ng-template>
                            </p-column>
                            <ng-template pTemplate="rowexpansion">
                                <div style="background-color: lightgray; padding-top: 10px; padding-bottom: 10px; padding-left: 2px; padding-right: 2px; margin: -12px;">
                                <p-dataTable [value]="levelFive" sortMode="multiple">
                                    <p-column field="sourceAppointment.startDateTime" header="Start" [sortable]="true" [filter]="true"></p-column>
                                    <p-column field="sourceAppointment.endDateTime" header="Ende" [sortable]="true" [filter]="true"></p-column>
                                    <p-column field="sourceAppointment.theme" header="Thema" [sortable]="true" [filter]="true"></p-column>
                                    <p-column field="sourceAppointment.room" header="Raum" [sortable]="true" [filter]="true"></p-column>
                                    <p-column field="examCollision" header="Exam" [sortable]="true" [style]="{'width':'100px'}" styleClass="text-right"></p-column>
                                </p-dataTable>
                                </div>
                            </ng-template>
                        </p-dataTable>
                        </div>
                    </ng-template>
                </p-dataTable>
                </div>
            </ng-template>
        </p-dataTable>
        </div>
    </ng-template>
</p-dataTable>
