
<div *ngIf="lva">
    <h2><span jhiTranslate="ceappApp.lva.detail.title">Lva</span> {{lva.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ceappApp.lva.lvaNr">Lva Nr</span></dt>
        <dd>
            <span>{{lva.lvaNr}}</span>
        </dd>
        <dt><span jhiTranslate="ceappApp.lva.lvaType">Lva Type</span></dt>
        <dd>
            <span jhiTranslate="{{'ceappApp.LvaType.' + lva.lvaType}}">{{lva.lvaType}}</span>
        </dd>
        <dt><span jhiTranslate="ceappApp.lva.year">Year</span></dt>
        <dd>
            <span>{{lva.year}}</span>
        </dd>
        <dt><span jhiTranslate="ceappApp.lva.semester">Semester</span></dt>
        <dd>
            <span jhiTranslate="{{'ceappApp.Semester.' + lva.semester}}">{{lva.semester}}</span>
        </dd>
        <dt><span jhiTranslate="ceappApp.lva.countAppointments">Count Appointments</span></dt>
        <dd>
            <span>{{lva.countAppointments}}</span>
        </dd>
        <dt><span jhiTranslate="ceappApp.lva.subject">Subject</span></dt>
        <dd>
            <div *ngIf="lva.subjectId">
                <a [routerLink]="['/subject', lva.subjectId]">{{lva.subjectSubjectName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="ceappApp.lva.institute">Institute</span></dt>
        <dd>
            <div *ngIf="lva.instituteId">
                <a [routerLink]="['/institute', lva.instituteId]">{{lva.instituteId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'lva/'+ lva.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
<div class="table-responsive" *ngIf="appointments">
    <table class="table table-striped">
        <thead>
        <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="ceappApp.appointment.startDateTime">Start Date Time</span></th>
            <th><span jhiTranslate="ceappApp.appointment.endDateTime">End Date Time</span></th>
            <th><span jhiTranslate="ceappApp.appointment.isExam">Is Exam</span></th>
            <th><span jhiTranslate="ceappApp.appointment.room">Room</span></th>
            <th><span jhiTranslate="ceappApp.appointment.theme">Theme</span></th>
            <th><span jhiTranslate="ceappApp.appointment.lva">Lva</span></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let appointment of appointments ;trackBy: trackId">
            <td><a [routerLink]="['../appointment', appointment.id ]">{{appointment.id}}</a></td>
            <td>{{appointment.startDateTime | date:'medium'}}</td>
            <td>{{appointment.endDateTime | date:'medium'}}</td>
            <td>{{appointment.isExam}}</td>
            <td>{{appointment.room}}</td>
            <td>{{appointment.theme}}</td>
            <td>
                <div *ngIf="appointment.lvaId">
                    <a [routerLink]="['../lva', appointment.lvaId  ]" >{{appointment.lvaLvaNr}}</a>
                </div>
            </td>
            <td class="text-right">
                <div class="btn-group flex-btn-group-container">
                    <button type="submit"
                            [routerLink]="['../appointment', appointment.id ]"
                            class="btn btn-info btn-sm">
                        <span class="fa fa-eye"></span>
                        <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                    </button>
                    <button type="submit"
                            [routerLink]="['/', { outlets: { popup: 'appointment/'+ appointment.id + '/edit'} }]"
                            replaceUrl="true"
                            class="btn btn-primary btn-sm">
                        <span class="fa fa-pencil"></span>
                        <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                    </button>
                    <button type="submit"
                            [routerLink]="['/', { outlets: { popup: 'appointment/'+ appointment.id + '/delete'} }]"
                            replaceUrl="true"
                            class="btn btn-danger btn-sm">
                        <span class="fa fa-remove"></span>
                        <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<p-dataTable [value]="appointments">
    <p-column field="startDateTime" header="Start"></p-column>
    <p-column field="endDateTime" header="Ende"></p-column>
    <p-column field="room" header="Raum"></p-column>
    <p-column field="theme" header="Thema"></p-column>
    <p-column field="isExam" header="P-Collision"></p-column>
</p-dataTable>
<p-schedule [events]="events" [header]="headerConfig" [weekends]="hugo" [scrollTime]="scrollTime" [contentHeight]="height"></p-schedule>
