<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLvaLabel" jhiTranslate="ceappApp.lva.home.createOrEditLabel">Create or edit a Lva</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!lva.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="lva.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ceappApp.lva.lvaNr" for="field_lvaNr">Lva Nr</label>
            <input type="text" class="form-control" name="lvaNr" id="field_lvaNr"
                [(ngModel)]="lva.lvaNr" required />
            <div [hidden]="!(editForm.controls.lvaNr?.dirty && editForm.controls.lvaNr?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lvaNr?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ceappApp.lva.lvaType" for="field_lvaType">Lva Type</label>
            <select class="form-control" name="lvaType" [(ngModel)]="lva.lvaType" id="field_lvaType"  required>
                <option value="WEEKLY" jhiTranslate="ceappApp.LvaType.WEEKLY">WEEKLY</option>
                <option value="BLOCK" jhiTranslate="ceappApp.LvaType.BLOCK">BLOCK</option>
            </select>
            <div [hidden]="!(editForm.controls.lvaType?.dirty && editForm.controls.lvaType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lvaType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ceappApp.lva.year" for="field_year">Year</label>
            <input type="number" class="form-control" name="year" id="field_year"
                [(ngModel)]="lva.year" required />
            <div [hidden]="!(editForm.controls.year?.dirty && editForm.controls.year?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.year?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.year?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ceappApp.lva.semester" for="field_semester">Semester</label>
            <select class="form-control" name="semester" [(ngModel)]="lva.semester" id="field_semester"  required>
                <option value="WS" jhiTranslate="ceappApp.Semester.WS">WS</option>
                <option value="SS" jhiTranslate="ceappApp.Semester.SS">SS</option>
            </select>
            <div [hidden]="!(editForm.controls.semester?.dirty && editForm.controls.semester?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.semester?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ceappApp.lva.countAppointments" for="field_countAppointments">Count Appointments</label>
            <input type="number" class="form-control" name="countAppointments" id="field_countAppointments"
                [(ngModel)]="lva.countAppointments"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="ceappApp.lva.subject" for="field_subject">Subject</label>
            <select class="form-control" id="field_subject" name="subject" [(ngModel)]="lva.subjectId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="subjectOption.id" *ngFor="let subjectOption of subjects; trackBy: trackSubjectById">{{subjectOption.subjectName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="ceappApp.lva.institute" for="field_institute">Institute</label>
            <select class="form-control" id="field_institute" name="institute" [(ngModel)]="lva.instituteId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="instituteOption.id" *ngFor="let instituteOption of institutes; trackBy: trackInstituteById">{{instituteOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
