<div>
    <h2>
        <span jhiTranslate="ceappApp.lva.home.title">Lvas</span>
        <button class="btn btn-primary float-right create-lva" [routerLink]="['/', { outlets: { popup: ['lva-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="ceappApp.lva.home.createLabel">
            Create new Lva
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'ceappApp.lva.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="lvas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="ceappApp.lva.lvaNr">Lva Nr</span></th>
            <th><span jhiTranslate="ceappApp.lva.lvaType">Lva Type</span></th>
            <th><span jhiTranslate="ceappApp.lva.year">Year</span></th>
            <th><span jhiTranslate="ceappApp.lva.semester">Semester</span></th>
            <th><span jhiTranslate="ceappApp.lva.countAppointments">Count Appointments</span></th>
            <th><span jhiTranslate="ceappApp.lva.subject">Subject</span></th>
            <th><span jhiTranslate="ceappApp.lva.institute">Institute</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let lva of lvas ;trackBy: trackId">
                <td><a [routerLink]="['../lva', lva.id ]">{{lva.id}}</a></td>
                <td>{{lva.lvaNr}}</td>
                <td jhiTranslate="{{'ceappApp.LvaType.' + lva.lvaType}}">{{lva.lvaType}}</td>
                <td>{{lva.year}}</td>
                <td jhiTranslate="{{'ceappApp.Semester.' + lva.semester}}">{{lva.semester}}</td>
                <td>{{lva.countAppointments}}</td>
                <td>
                    <div *ngIf="lva.subjectId">
                        <a [routerLink]="['../subject', lva.subjectId  ]" >{{lva.subjectSubjectName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="lva.instituteId">
                        <a [routerLink]="['../institute', lva.instituteId  ]" >{{lva.instituteId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../lva', lva.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'lva/'+ lva.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'lva/'+ lva.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
