
<div *ngIf="idealPlanEntries">
    <h2><span jhiTranslate="ceappApp.idealPlanEntries.detail.title">Ideal Plan Entries</span> {{idealPlanEntries.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ceappApp.idealPlanEntries.winterSemesterDefault">Winter Semester Default</span></dt>
        <dd>
            <span>{{idealPlanEntries.winterSemesterDefault}}</span>
        </dd>
        <dt><span jhiTranslate="ceappApp.idealPlanEntries.summerSemesterDefault">Summer Semester Default</span></dt>
        <dd>
            <span>{{idealPlanEntries.summerSemesterDefault}}</span>
        </dd>
        <dt><span jhiTranslate="ceappApp.idealPlanEntries.optionalSubject">Optional Subject</span></dt>
        <dd>
            <span>{{idealPlanEntries.optionalSubject}}</span>
        </dd>
        <dt><span jhiTranslate="ceappApp.idealPlanEntries.exclusive">Exclusive</span></dt>
        <dd>
            <span>{{idealPlanEntries.exclusive}}</span>
        </dd>
        <dt><span jhiTranslate="ceappApp.idealPlanEntries.subject">Subject</span></dt>
        <dd>
            <div *ngIf="idealPlanEntries.subjectId">
                <a [routerLink]="['/subject', idealPlanEntries.subjectId]">{{idealPlanEntries.subjectSubjectName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="ceappApp.idealPlanEntries.idealplan">Idealplan</span></dt>
        <dd>
            <div *ngIf="idealPlanEntries.idealplanId">
                <a [routerLink]="['/ideal-plan', idealPlanEntries.idealplanId]">{{idealPlanEntries.idealplanId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ideal-plan-entries/'+ idealPlanEntries.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
