<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myIdealPlanEntriesLabel" jhiTranslate="ceappApp.idealPlanEntries.home.createOrEditLabel">Create or edit a Ideal Plan Entries</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!idealPlanEntries.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="idealPlanEntries.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ceappApp.idealPlanEntries.winterSemesterDefault" for="field_winterSemesterDefault">Winter Semester Default</label>
            <input type="number" class="form-control" name="winterSemesterDefault" id="field_winterSemesterDefault"
                [(ngModel)]="idealPlanEntries.winterSemesterDefault" required />
            <div [hidden]="!(editForm.controls.winterSemesterDefault?.dirty && editForm.controls.winterSemesterDefault?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.winterSemesterDefault?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.winterSemesterDefault?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ceappApp.idealPlanEntries.summerSemesterDefault" for="field_summerSemesterDefault">Summer Semester Default</label>
            <input type="number" class="form-control" name="summerSemesterDefault" id="field_summerSemesterDefault"
                [(ngModel)]="idealPlanEntries.summerSemesterDefault" required />
            <div [hidden]="!(editForm.controls.summerSemesterDefault?.dirty && editForm.controls.summerSemesterDefault?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.summerSemesterDefault?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.summerSemesterDefault?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="ceappApp.idealPlanEntries.subject" for="field_subject">Subject</label>
            <select class="form-control" id="field_subject" name="subject" [(ngModel)]="idealPlanEntries.subjectId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="subjectOption.id" *ngFor="let subjectOption of subjects; trackBy: trackSubjectById">{{subjectOption.subjectName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="ceappApp.idealPlanEntries.idealplan" for="field_idealplan">Idealplan</label>
            <select class="form-control" id="field_idealplan" name="idealplan" [(ngModel)]="idealPlanEntries.idealplanId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="idealPlanOption.id" *ngFor="let idealPlanOption of idealplans; trackBy: trackIdealPlanById">{{idealPlanOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
