<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myIdealPlanLabel" jhiTranslate="ceappApp.idealPlan.home.createOrEditLabel">Create or edit a Ideal Plan</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!idealPlan.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="idealPlan.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ceappApp.idealPlan.year" for="field_year">Year</label>
            <input type="number" class="form-control" name="year" id="field_year"
                [(ngModel)]="idealPlan.year" required />
            <div [hidden]="!(editForm.controls.year?.dirty && editForm.controls.year?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.year?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.year?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ceappApp.idealPlan.semester" for="field_semester">Semester</label>
            <select class="form-control" name="semester" [(ngModel)]="idealPlan.semester" id="field_semester"  required>
                <option value="WS" jhiTranslate="ceappApp.Semester.WS">WS</option>
                <option value="SS" jhiTranslate="ceappApp.Semester.SS">SS</option>
            </select>
            <div [hidden]="!(editForm.controls.semester?.dirty && editForm.controls.semester?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.semester?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="ceappApp.idealPlan.curriculum" for="field_curriculum">Curriculum</label>
            <select class="form-control" id="field_curriculum" name="curriculum" [(ngModel)]="idealPlan.curriculumId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="curriculumOption.id" *ngFor="let curriculumOption of curricula; trackBy: trackCurriculumById">{{curriculumOption.curName}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
