<div>
    <div class="row">
        <h1> LVA-Clash Eliminator</h1>
    </div>
    <div class="row">
        <div class="col-5">
            <div class="form-group">
                <h2>Ideal Plan</h2>
                <select class="form-control" [(ngModel)]="idealPlanSelected" id="currentSearch">
                    <option *ngFor="let idealPlan of idealPlans ;trackBy: trackId" value="{{idealPlan.id + idealPlan.semester}}">{{idealPlan.id}} {{idealPlan.semester}} {{idealPlan.year}} {{idealPlan.curriculumCurName}}                    </option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="semester-group" ng-app ng-controller="search">
                <h2>Semester</h2>
                <select class="form-control" [(ngModel)]="semesterSelected" id="semester">
                    <option *ngFor="let semester of semesters" value="{{semester.value}}" >{{semester.value}}</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="curriculum-group" ng-app ng-controller="search">
                <h2>Curriculum</h2>
                <select class="form-control" [(ngModel)]="curriculumSelected" id="curriculum">
                    <option *ngFor="let curriculumSemester of curriculumSemesters ;trackBy: trackId" value="{{curriculumSemester.id}}">{{curriculumSemester.id}} {{curriculumSemester.semester}} {{curriculumSemester.curriculumCurName}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary btn-md btn-block" (click)="search(idealPlanSelected.slice(0,4), semesterSelected, idealPlanSelected.slice(4,6), curriculumSelected)">Update</button>
        </div>
    </div>
    <hr>
    <p-schedule [events]="events"
                [header]="headerConfig"
                [hiddenDays]="hiddenDays"
                [locale]="locale"
                [columnFormat]="columnFormat"
                [defaultView]="defaultView"
                [defaultDate]="defaultDate"
                [scrollTime]="scrollTime"
                [minTime]="minTime"
                [maxTime]="maxTime"
                [slotLabelInterval]="slotLabelInterval"
                [slotLabelFormat]="slotLabelFormat"
                [weekNumbersWithinDays]="weekNumbersWithinDays"
                [contentHeight] = "contentHeight"
                [timeFormat]="timeFormat"
                [titleFormat]="titleFormat"
                [eventColor]="eventColor"
    ></p-schedule>
</div>
