<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCollisionSummaryCSLabel" jhiTranslate="ceappApp.collisionSummaryCS.home.createOrEditLabel">Create or edit a Collision Summary CS</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!collisionSummaryCS.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="collisionSummaryCS.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ceappApp.collisionSummaryCS.instituteCollision" for="field_instituteCollision">Institute Collision</label>
            <input type="number" class="form-control" name="instituteCollision" id="field_instituteCollision"
                [(ngModel)]="collisionSummaryCS.instituteCollision"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="ceappApp.collisionSummaryCS.csSource" for="field_csSource">Cs Source</label>
            <select class="form-control" id="field_csSource" name="csSource" [(ngModel)]="collisionSummaryCS.csSourceId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="curriculumSubjectOption.id" *ngFor="let curriculumSubjectOption of curriculumsubjects; trackBy: trackCurriculumSubjectById">{{curriculumSubjectOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="ceappApp.collisionSummaryCS.csTarget" for="field_csTarget">Cs Target</label>
            <select class="form-control" id="field_csTarget" name="csTarget" [(ngModel)]="collisionSummaryCS.csTargetId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="curriculumSubjectOption.id" *ngFor="let curriculumSubjectOption of curriculumsubjects; trackBy: trackCurriculumSubjectById">{{curriculumSubjectOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="ceappApp.collisionSummaryCS.idealPlan" for="field_idealPlan">Ideal Plan</label>
            <select class="form-control" id="field_idealPlan" name="idealPlan" [(ngModel)]="collisionSummaryCS.idealPlanId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="idealPlanOption.id" *ngFor="let idealPlanOption of idealplans; trackBy: trackIdealPlanById">{{idealPlanOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
