
<div *ngIf="collisionSummaryCS">
    <h2><span jhiTranslate="ceappApp.collisionSummaryCS.detail.title">Collision Summary CS</span> {{collisionSummaryCS.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ceappApp.collisionSummaryCS.instituteCollision">Institute Collision</span></dt>
        <dd>
            <span>{{collisionSummaryCS.instituteCollision}}</span>
        </dd>
        <dt><span jhiTranslate="ceappApp.collisionSummaryCS.csSource">Cs Source</span></dt>
        <dd>
            <div *ngIf="collisionSummaryCS.csSource">
                <a [routerLink]="['/curriculum-subject', collisionSummaryCS.csSourceId]">{{collisionSummaryCS.csSource.subject.subjectName}} {{collisionSummaryCS.csSource.subject.subjectType}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="ceappApp.collisionSummaryCS.csTarget">Cs Target</span></dt>
        <dd>
            <div *ngIf="collisionSummaryCS.csTarget">
                <a [routerLink]="['/curriculum-subject', collisionSummaryCS.csTargetId]">{{collisionSummaryCS.csTarget.subject.subjectName}} {{collisionSummaryCS.csTarget.subject.subjectType}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="ceappApp.collisionSummaryCS.idealPlan">Ideal Plan</span></dt>
        <dd>
            <div *ngIf="collisionSummaryCS.idealPlan">
                <a [routerLink]="['/ideal-plan', collisionSummaryCS.idealPlanId]">{{collisionSummaryCS.idealPlan.curriculum.curName}} - {{collisionSummaryCS.idealPlan.year}} / {{collisionSummaryCS.idealPlan.semester}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'collision-summary-cs/'+ collisionSummaryCS.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>

</div>

<hr>

<div><jhi-collision-summary-lva></jhi-collision-summary-lva></div>
