<div>
    <h2>
        <span jhiTranslate="ceappApp.collisionSummaryLva.home.title">Collision Summary Lvas</span>
        <button class="btn btn-primary float-right create-collision-summary-lva" [routerLink]="['/', { outlets: { popup: ['collision-summary-lva-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="ceappApp.collisionSummaryLva.home.createLabel">
            Create new Collision Summary Lva
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="collisionSummaryLvas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="ceappApp.collisionSummaryLva.instituteCollision">Institute Collision</span></th>
            <th><span jhiTranslate="ceappApp.collisionSummaryLva.collision">Collision</span></th>
            <th><span jhiTranslate="ceappApp.collisionSummaryLva.l1">L 1</span></th>
            <th><span jhiTranslate="ceappApp.collisionSummaryLva.l2">L 2</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let collisionSummaryLva of collisionSummaryLvas ;trackBy: trackId">
                <td><a [routerLink]="['../collision-summary-lva', collisionSummaryLva.id ]">{{collisionSummaryLva.id}}</a></td>
                <td>{{collisionSummaryLva.instituteCollision}}</td>
                <td>
                    <div *ngIf="collisionSummaryLva.collisionId">
                        <a [routerLink]="['../collision-summary-cs', collisionSummaryLva.collisionId  ]" >{{collisionSummaryLva.collisionId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="collisionSummaryLva.l1Id">
                        <a [routerLink]="['../lva', collisionSummaryLva.l1Id  ]" >{{collisionSummaryLva.l1Id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="collisionSummaryLva.l2Id">
                        <a [routerLink]="['../lva', collisionSummaryLva.l2Id  ]" >{{collisionSummaryLva.l2Id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../collision-summary-lva', collisionSummaryLva.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'collision-summary-lva/'+ collisionSummaryLva.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'collision-summary-lva/'+ collisionSummaryLva.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
