
<div *ngIf="collisionSummaryLva">
    <h2><span jhiTranslate="ceappApp.collisionSummaryLva.detail.title">Collision Summary Lva</span> {{collisionSummaryLva.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ceappApp.collisionSummaryLva.instituteCollision">Institute Collision</span></dt>
        <dd>
            <span>{{collisionSummaryLva.instituteCollision}}</span>
        </dd>
        <dt><span jhiTranslate="ceappApp.collisionSummaryLva.collision">Collision</span></dt>
        <dd>
            <div *ngIf="collisionSummaryLva.collisionId">
                <a [routerLink]="['/collision-summary-cs', collisionSummaryLva.collisionId]">{{collisionSummaryLva.collisionId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="ceappApp.collisionSummaryLva.l1">L 1</span></dt>
        <dd>
            <div *ngIf="collisionSummaryLva.l1Id">
                <a [routerLink]="['/lva', collisionSummaryLva.l1Id]">{{collisionSummaryLva.l1Id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="ceappApp.collisionSummaryLva.l2">L 2</span></dt>
        <dd>
            <div *ngIf="collisionSummaryLva.l2Id">
                <a [routerLink]="['/lva', collisionSummaryLva.l2Id]">{{collisionSummaryLva.l2Id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'collision-summary-lva/'+ collisionSummaryLva.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
