<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCollisionSummaryLvaLabel" jhiTranslate="ceappApp.collisionSummaryLva.home.createOrEditLabel">Create or edit a Collision Summary Lva</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!collisionSummaryLva.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="collisionSummaryLva.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ceappApp.collisionSummaryLva.instituteCollision" for="field_instituteCollision">Institute Collision</label>
            <input type="number" class="form-control" name="instituteCollision" id="field_instituteCollision"
                [(ngModel)]="collisionSummaryLva.instituteCollision"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="ceappApp.collisionSummaryLva.collision" for="field_collision">Collision</label>
            <select class="form-control" id="field_collision" name="collision" [(ngModel)]="collisionSummaryLva.collisionId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="collisionSummaryCSOption.id" *ngFor="let collisionSummaryCSOption of collisionsummarycs; trackBy: trackCollisionSummaryCSById">{{collisionSummaryCSOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="ceappApp.collisionSummaryLva.l1" for="field_l1">L 1</label>
            <select class="form-control" id="field_l1" name="l1" [(ngModel)]="collisionSummaryLva.l1Id" >
                <option [ngValue]="null"></option>
                <option [ngValue]="lvaOption.id" *ngFor="let lvaOption of lvas; trackBy: trackLvaById">{{lvaOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="ceappApp.collisionSummaryLva.l2" for="field_l2">L 2</label>
            <select class="form-control" id="field_l2" name="l2" [(ngModel)]="collisionSummaryLva.l2Id" >
                <option [ngValue]="null"></option>
                <option [ngValue]="lvaOption.id" *ngFor="let lvaOption of lvas; trackBy: trackLvaById">{{lvaOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
